[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
selenium = "~=3.141"
coverage = "~=4.5"

[packages]
django = "~=2.2"
gunicorn = "~=19.9"
psycopg2 = "~=2.8"
behave = "~=1.2"
selenium = "*"
coverage = "~=4.5"

[requires]
python_version = "3.7"
